section.page-title {
  background-color: var(--secondary-background);
  margin: 109px 0 30px 0;
}

section.page-title h1 {
  color: #f5f5f4;
  font-weight: 500;
  padding: 20px 0;
  font-size: 32px;
}

section.hero strong {
  color: #153b69;
  font-weight: 700;
  font-size: 18px;
}

section.hero .row p {
  color: black;
  font-weight: 400;
  max-width: 248px;
  font-size: 14px;
}

section.how {
  background: #dcecff;
  padding: 85px 0;
}

section.how h4 {
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
}

section.how h2 {
  font-weight: 700;
  text-align: center;
  color: var(--secondary-background);
}

.how__icon h6 {
  font-size: 17px;
  font-weight: 700;
  text-align: left;
  color: var(--secondary-background);
  margin-top: 10px;
}

.how__icon p {
  font-size: 18px;
  text-align: left;
  color: #1d1d1d;
  font-weight: 400;
}

.how a {
  margin: 50px auto;
  background: var(--secondary-background);
  color: white;
  max-width: 472px;
}
.circle-icon {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: #cae2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-icon h6 {
  color: var(--secondary-background);
  font-weight: 600;
  font-size: 22px;
}

section.conheca {
  background: var(--secondary-background);
  padding: 40px 0;
}

section.conheca h2 {
  color: #f5f5f4;
  font-size: 45px;
  font-weight: 600;
}

section.projetos {
  padding: 60px 0;
}

section.projetos .projetos__title {
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  display: block;
  color: #153b69;
}
section.projetos .swiper2 {
  overflow: hidden;
  position: relative;
  height: 550px;
}
section.projetos .swiper-slide .slide {
  max-width: 352px;
  width: 100%;
  margin:0 auto;
}
.projetos__img {
  max-width: 352px;
  border-radius: 8px;
  width: 100%;
}
section.projetos .projetos__title-card {
  font-size: 24px;
  color: #153b69;
  font-weight: 600;
  line-height: 29px;
}
section.projetos .projetos__economia {
  color: #542d00;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.25px;
  text-align: left;
  background: #ffb600;
  padding: 0 5px;
  border-radius: 5px 0px 0px 5px;
  max-width: calc(192px - 5px);
  width: 100%;
}
section.projetos .projetos__price {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  background: #6cab62;
  border-radius: 0px 5px 5px 0px;
  padding: 0 5px;
  max-width: 161px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.projetos .swiper2 p {
  color: #1d1d1d;
  font-size: 18px;
}
section.projetos span {
  color: #153b69;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.projetos__cta{
    background-color: var(--secondary-background);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    max-width: 245px;
    width: 100%;
    color:white;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
}

section.cta{
    background: #FFA901;
    padding:40px 0;
}
.cta__title{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: left;
    color:
    #5E3500;
}
.cta__btn{
    background-color: var(--secondary-background);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    max-width: 245px;
    width: 100%;
    color:white;
    border-radius: 8px;
}

section.equipe{
    padding:40px 0 20px 0;
}
.equipe__title{
font-size: 43px;
font-style: normal;
font-weight: 700;
line-height: 84px;
letter-spacing: 0em;
text-align: center;

}
.equipe__subtitle{
    color:
    #545454;
    max-width:1100px;
    margin: 0 auto;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;

}
.equipe__img{
    max-width:920px;
    width: 100%;
    border-radius: 19px;
}
.equipe__item-title{
    color:var(--secondary-background);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.equipe__description{
    color:#1D1D1D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    margin: 10px 0;
}
section.duvida {
    background: #DCECFF;
    padding: 40px 0;
  }
  
  section.duvida h2 {
    color: 
    #153B69;
    font-size: 45px;
    font-weight: 600;
  }

  section.duvida .btn{
      background-color: var(--secondary-background);
      color:white;
  }
  
@media screen and (max-width: 768px) {
  .how__icon h6,
  .how__icon p {
    text-align: center;
  }
  section.conheca h2 {
    font-size: 26px;
  }
  section.conheca .btn-md {
    max-width: 100%;
  }
  section.duvida h2 {
    font-size: 26px;
  }
  section.duvida .btn-md {
    max-width: 100%;
  }
  .cta__title{
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    text-align: center;
    margin-bottom: 20px;
    }
    .projetos__cta, .cta__btn{
        max-width:100%;
    }
    .equipe__description{
        text-align: center;
    }
    section.page-title h1{
        font-size:22px;
    }
    section.hero .row p{
        max-width:302px;
    }
    .how__icon h6{
        margin: 0;
    }
    .equipe__title{
        font-size:30px;
    }
    .equipe__subtitle{
        font-size:24px;
    }
    .equipe__img{
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 1200px){
    section.page-title{
        margin:94px 0 30px 0;
    }
}
