.logo{
    max-width:352px;
    width: 100%;
}

nav.nav{
    max-width:760px;
    width: 100%;
}

.nav-active{
    font-weight: bold;
}

header.nav nav ul li{
    list-style-type:none;
}

header.nav nav ul li a{
    text-decoration:none;
}

.max-w-176{
    max-width:176px;
    width: 100%;
}

.btn-nav{
    border:0;
    border-radius: 8px;
    max-width: 176px;
    width: 100%;
    color:#542D00;
    background-color:var(--primary-background);
    text-align:center;
    padding:10px;
    font-size:18px;
    font-weight:500;
    transition: 0.1s ease-in-out;
    text-decoration: none;
    display: block;
}