:root {
  --primary: #153b69;
  --lighter-primary: #7389a5;
  --secondary: #fab519;
  --link: #1f64bb;
  --background: #f5f5f4;
  --text: #1d1d1d;
  --lighter-text: #1d1d1d;
  --alt-text: #542d00;
}
/*ÍNICIO ESTILO DO SUB-HEADER*/
div.sub__header {
  background-color: var(--primary);
  padding: 2rem 1rem;
  border-bottom: 8px solid #ffb600;
  margin-top: 6.5rem;
  width: 100%;
}
div.sub__header strong {
  font-weight: 500;
  color: var(--background);
  font-size: 2rem;
  margin-left: 0.5rem;
}
div.sub__header p {
  color: #ffffff;
  font-size: 1.1rem;
  padding: 0 !important;
}
/*FIM DO ESTILO DO SUB-HEADER*/

/*ÍNICIO DO ESTILO DO BLOG*/
.blog {
  padding: 4rem 0;
  overflow: hidden;
}
.blog__header {
  position: relative;
}
.barra__de__pesquisa {
  position: relative;
  max-width: 763px;
}
.barra__de__pesquisa img {
  position: absolute;
  right: 10px;
  top: 48px;
}
.blog__header strong {
  color: var(--primary);
  font-size: 1.5rem;
}
.blog__header input {
  width: 100%;
  height: 44px;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  border: 1px solid var(--primary);
  font-size: 1rem;
  background: #fff;
  max-width: 763px;
}
.blog__header input::placeholder {
  color: #bdbdbd;
}
.blog__header > img {
  border-radius: 1.3rem;
  max-width: 100%;
  margin-top: 2rem;
}
.blog__header h1 {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.25px;
  text-align: left;
}
.blog__header p {
  font-size: 1.125rem;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
}
.ler {
  max-width: 780px;
  gap: 0.5rem;
  color: var(--primary);
  margin-top: 1rem;
}
.ler a {
  color: var(--primary);
}
.square {
  position: absolute;
  bottom: 0;
  left: -303px;
}
.blog__content {
  padding: 2rem 0;
}
.posts {
  gap: 2rem;
}
.posts:nth-of-type(2) {
  margin: 3rem 0;
}
.post__single {
  width: 100%;
  max-width: 360px;
}
.post__single strong {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--primary);
  padding: 1rem 0;
}
.post__single > img {
  width: 100%;
  max-width: 352px;
  border-radius: 1.3rem;
  height: 250px;
}

.blog__content p {
  font-size: 1.125rem;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--lighter-text);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sub__content {
  position: relative;
}
.sub__content h2 {
  color: var(--primary);
  font-size: 1.75rem;
  font-weight: 600;
}
.sub-content__header p {
  margin-right: 0.8rem;
}
.sub-content__header img {
  border-radius: 1.3rem;
  max-width: 100%;
}
.square-2 {
  position: absolute;
  bottom: -140px;
  left: -300px;
}
.noticias__lateral {
  border: 1px solid var(--primary);
  padding: 1rem 3rem;
  border-radius: 1.1rem;
}
.noticias__lateral strong {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;
}
.noticias__lateral strong:nth-child(1) {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: var(--primary);
}
.noticias__lateral span {
  border: 1px solid var(--primary);
  width: 100%;
  max-width: fit-content;
  padding: 0.1rem 0.45rem;
  color: var(--primary);
  border-radius: 0.8rem;
  font-size: 0.8rem;
}
.noticias__lateral p {
  color: var(--lighter-text);
  font-size: 1.125rem;
  padding: 0.3rem 0;
}
.noticias {
  padding: 1rem 0;
}
.noticias:nth-of-type(2) {
  border-bottom: 1px solid #bdbdbd;
}
.noticias:nth-of-type(1) {
  border-bottom: 1px solid #bdbdbd;
}
.veja__mais a {
  color: #ffffff;
  text-decoration: none;
  border-radius: 0.5rem;
  background: var(--primary);
  cursor: pointer;
  font-size: 1.125rem;
  padding: 10px;
  width: 20%;
  margin: 2rem auto;
  text-align: center;
  display: block;
}
.categorias {
  border: 1px solid var(--primary);
  padding: 1rem 3rem;
  border-radius: 1.1rem;
  margin: 2rem 0;
  position: relative;
}
.categorias strong {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: var(--primary);
}
.categorias ul {
  list-style: none;
}
.categorias ul li::before {
  content: "\2022";
  color: #161b3d;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}
.categorias li a {
  color: var(--link);
  font-size: 1.125rem;
  text-decoration: none;
}
.categoria__square {
  position: absolute;
  top: -130px;
  right: -350px;
}
.contato strong {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: var(--primary);
}
.contato p {
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--lighter-text);
  margin: 1rem 0;
}
.contato label {
  font-size: 1.125rem;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
  color: var(--lighter-text);
}
.contato label:nth-of-type(2) {
  margin-top: 1rem;
}
.contato input {
  width: 100%;
  height: 44px;
  border-radius: 0.5rem;
  padding-left: 0.8rem;
  border: 1px solid var(--primary);
  font-size: 1rem;
  background: #fff;
  max-width: 768px;
}
.contato button {
  color: #ffffff;
  text-decoration: none;
  border-radius: 0.5rem;
  background: var(--primary);
  cursor: pointer;
  font-size: 1.125rem;
  padding: 10px;
  margin: 2rem 0;
  border: 0;
  width: 50%;
}
/*FIM DO ESTILO BLOG*/

/*ÍNICIO DO ESTILO FAQ*/
section.faq {
  margin-top: 8rem;
}
.__faq {
  gap: 2rem;
}
.__faq img {
  max-width: 100%;
}
.__faq strong {
  font-size: 2.875rem;
  color: var(--primary);
}
.faq a {
  color: #ffffff;
  text-decoration: none;
  border-radius: 0.5rem;
  background: var(--primary);
  cursor: pointer;
  font-size: 1.125rem;
  max-width: 245px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 991px) {
  .__faq strong {
    font-size: 2rem;
  }
  .contato button {
    margin: 2rem auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .comentario__area button {
    max-width: 100%;
    margin: 1rem 0;
  }
  .faq a {
    margin: 1rem 0;
    max-width: 100%;
  }
  .veja__mais a {
    display: block;
    width: 100%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
  .barra__de__pesquisa img {
    top: 45px;
  }
}
@media (max-width: 574px) {
  .blog h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.25px;
    text-align: left;
  }
}

@media (max-width: 503px) {
  .__faq strong {
    font-size: 1.5rem;
  }
}
@media (max-width: 456px) {
  .logo img {
    max-width: 180px !important;
  }
}
