*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* background-color:#F5F5F4; */
}

:root{
    --primary-background: #FFA901;
    --secondary-background: #153B69;
    --text-color:#545454;
    --icon-bg:#CAE2FF;
    --semi-title:#545454;
    --paragraph-color:181818;
}
.text-center{
    text-align:center;
}
.text-title{
    font-size: 50px;
    font-weight: 700;
}
.limite-subtitle{
    max-width:744px;
    margin: 0 auto;
    line-height:32px;
}
.text-primary{
    color:#153B69;
}
.text-secondary{
    color:#545454;
}
.text-paragraph{
    font-size:18px; 
}
.text-subtitle{
    font-size:26px;
    font-weight: 500;
}

.logo img{
    max-width: 265px;
    width: 100%;
}

.img-fluid{
    max-width:100%;
}

.gap-2{
    gap: 20px;
}

.gap-1{
    gap: 10px;
}
.gap-3{
    gap: 30px;
}

.gap-4{
    gap: 40px;
}
.gap-5{
    gap: 50px;
}

.btn{
    border:0;
    padding:8px;
    border-radius:6px;
    text-decoration: none;
}
.btn-md{
    max-width:250px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.btn-bg-secondary{
    background:#FFA901;
    color:#542D00;
}

.btn-bg-transparent{
    background-color:transparent;
    color:#00396F;
    border:1px solid #00396F;
    margin: 0;
    transition: 0.1s ease-in-out;
}
.btn-bg-transparent:hover{
    background-color:#00396F;
    color:white;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active{
    border: 3px solid #153B69;
    background-color:white!important;
}
.swiper-pagination-bullet{
    background: #153B69;
}
@media screen and (max-width: 768px){
    .text-title{
        font-size: 30px;
    }
    .text-subtitle{
        font-size:24px;
    }
    .gap-md-2{
        gap:20px;
    }
}